* {
    background-color: rgba(231, 229, 229, 0.479);
}


h1 {
    text-align: center;

}

h2 {
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

ul li {
    list-style: none;
    font-weight: 600;
    margin: 10px;
    text-align: center;
}




.button {
    display: inline-block;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;
}

.button:hover {
    background-color: rgb(206, 8, 8);
    font-size: x-large;
}
#foto {
    

}
nav {
    display: inline-block;
}
footer {
    text-align: center;
    margin-left: 50px;
}
article:hover{
    font-size: x-large;


}